<h1><%=@knitter.username%>'s Profile Page</h1>
<h2>About You</h2>
<p>username: <%=@knitter.username%></p>
<p>years knitting: <%=@knitter.years_knitting%></p>
<h2>Your Projects</h2>

<p><a href="/projects/new">Create A New Project</a></p>

<%@knitter.projects.each do |project| %>
  <h3><%=project.pattern_name%></h3>
  <ul>
    <li>Yarn: <%=project.yarn%></li>
    <li>Total Yardage Knit: <%=project.total_yardage%></li>
    <li>Notes: <%=project.notes%></li>
    <%project.tags.each do |tag|%>
    <li> Tags: <%= tag.name %> </li>
    <% end %>
  </ul>
  <p><a href="/projects/<%=project.id%>/edit">Edit this Project</a></p>
  <form method="post" action="/projects/<%= project.id %>">
    <input type="hidden" name="_method" value="delete">
    <input id="delete-button" type="submit" value="Delete Project">
  </form>
  <%end%>